body {
    background-image: url('images/image4.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    color: rgba(221, 6, 6, 0.696);
}


label {
    font-size: 18px;
}

input[type="text"],
input[type="email"],
input[type="location"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.center {
    display: flex;
    justify-content: center;
}