Flask==2.3.2
Flask_WTF==1.1.1
Requests==2.31.0
WTForms==3.0.1
gcloud==0.18.3
google-api-core==2.11.1
google-auth==2.20.0
google-cloud-core==2.3.2
google-cloud-firestore==2.11.1
email-validator==2.0.0.post2
boto3==1.26.146
botocore==1.29.146